
<%- model_class = UserMessage -%>

<div class="page-header">
  <h1>Timeline</h1>
</div>

  <div class="panel panel-success message_container">
    
    <div class="panel-body">
       <div id="user_message_form" class="message_container">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">New message</h3>
            </div>
            <div class="panel-body">
              <%= render :partial => 'form_ajax' %>
            </div>
          </div>
       
        </div>
       <div id="user_messages_list"><%= render :partial => "user_messages" %></div>
    </div>
      
  </div>





