<%- model_class = Appeal -%>
<div class="page-header">
  <h1>Send Requests</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>To</th>
    </tr>
  </thead>
  <tbody>
    <% @appeals.each do |appeal| %>
      <tr>
        <td><%= appeal.receiver.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>